<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Result of Anagram!</title>
</head>
<body>
    <div class="container">
        <h1>Your Anagram here:</h1>
        {% for value in result %}
        <h4>{{ value }}</h4>


    </div>
</body>
</html>
